body {
  /* background-color: lightcyan; */
  font-family: Arial, Helvetica, sans-serif;
}

/* h1 {
  text-align: center;
} */

.bg-birthdaycakes {
  background: url("images/allotment.JPG") no-repeat center / cover;
}

main {
  margin-top:56px;
}

.white-text{
  color: white;
}

footer {
  background-color: #f5f5f5;
}

.bg-christmascakes {
  background: url("images/christmascake.JPG") no-repeat center / cover;
}

.bg-getintouch {
  background: black;
}

.bg-sweettreats {
  background: url("images/sponge.JPG") no-repeat center / cover;
}