body {
  /* background-color: lightcyan; */
  font-family: Arial, Helvetica, sans-serif;
}

/* h1 {
  text-align: center;
} */

.bg-birthdaycakes {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/allotment.JPG") no-repeat center / cover;
}

main {
  margin-top: 56px;
}

.white-text {
  color: white;
}

footer {
  background-color: #f5f5f5;
}

.bg-christmascakes {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/christmascake.JPG") no-repeat center / cover;
}

.bg-getintouch {
  background: black;
}

.bg-sweettreats {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/sponge.JPG") no-repeat center / cover;
}

.card {
  height: 25rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
