body {
  background-color: lightcyan;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.bg-birthdaycakes {
  background: url("images/allotment.JPG") no-repeat center / cover;
}

main {
  margin-top:56px;
}

.white-text{
  color: white;
}